#
# Copyright 2018 Orkus, Inc
# All Rights Reserved.
#
# @author: Denys Nahurnyi.
# @email:  dnahurnyi@gmail.com
# ---------------------------------------------------------------------------
apiVersion: apps/v1beta2 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: {SERVICENAME}-deployment
  labels:
    app: {SERVICENAME}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {SERVICENAME}
  template:
    metadata:
      labels:
        app: {SERVICENAME}
    spec:
      containers:
      - name: {SERVICENAME}
        image: {SERVICENAME}:{VERSION}
        env:
        - name: AWS_ACCESS_KEY_ID
          value: AKIAIOSOR73KN3SM3VQQ 
        - name: AWS_SECRET_ACCESS_KEY
          value: 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 
        - name: AWS_REGION
          value: us-west-2
        - name: USER
          value: "{USER}"
        - name: APP_NAMESPACE
          value: default
        ports:
        - containerPort: {GRPCPORT}
          name: grpc-port
        - containerPort: {HTTPPORT}
          name: rest-port
        readinessProbe:
          tcpSocket:
            port: {GRPCPORT}
          initialDelaySeconds: 5
          periodSeconds: 2 
